<div class="container min-vh-100 d-flex flex-column justify-content-center">
  <form class="d-flex flex-column gap-3" [formGroup]="certificateForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="course">Course:</label>
      <input type="text" class="form-control" id="course" formControlName="course">
    </div>
    <div class="form-group">
      <label for="issuer">Issuer:</label>
      <input type="text" class="form-control" id="issuer" formControlName="issuer">
    </div>
    <div class="form-group">
      <label for="recipientName">Recipient Name:</label>
      <input type="text" class="form-control" id="recipientName" formControlName="recipientName">
    </div>
    <div class="form-group">
      <label for="issuanceDate">Issuance Date:</label>
      <input type="date" class="form-control" id="issuanceDate" formControlName="issuanceDate">
    </div>
    <div class="form-group">
      <label for="expirationDate">Expiration Date:</label>
      <input type="date" class="form-control" id="expirationDate" formControlName="expirationDate">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
